@import url(/styless/main.css);

:root{
    --special-color:black;
}


.navigation-contain{
    border-radius: 0.5rem;
    text-align: center;
    padding:1rem;


}

.nav{
    width:35rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(49, 41, 41);
    border-radius: 0.5rem;
    margin: 1rem;   

}
.nav-link{
    display: flex;
    align-items: center;
    gap:0.3rem;
    font-size:20px;
    font-weight:bold;

}
.nav-sidelink{
    display: flex;
    gap: 2rem;
    font-size:17px;
    padding-right: 1rem;
}
a{
    text-decoration:none;
    color:white;
}

@media only screen and (max-width:910px){
    .header{
        width:910px;
    }
}
