@import url(/styless/main.css);


.inputs{
    width: 10rem;
    padding:1rem;
    border-radius:0.5rem; 
    margin: 1rem;   
}
.primary-input{
    background-color:rgb(143, 235, 143);
    color:var(--black-color);

}
.danger-input{
    background-color:rgb(175, 19, 19);
    color: var(--white-color);
}
.checkbox1{
    font-size:var(--font-size);
    margin: 1rem;   

}
.date{
    background-color:rgb(160, 104, 104);
    padding:1.2rem;
    color: var(--white-color);
    font-size:var(--font-size);
    margin: 1rem;   

}

@media only screen and (max-width:690px){
    .header{
        width:690px;
    }
}