@import url(/styless/main.css);


.sameToast{
    width:17rem;
    height:4.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border:2px solid #cec9c9;
    padding-left: 1rem;
    display: none;
}
.success{
    background-color:var(--sucess-bgColor);
    color:var(--sucess-color);
}
.error{
    background:var(--error-bgColor);
    color:var(--error-color);
}
.sameDeny{
    border:0px;
    color:var(--deny-color);
    font-weight:bold;
    position: absolute;
     left: 15.9rem; 
    bottom:3rem;
    cursor:pointer;
    border-radius: 50%;
    font-size:1.3rem;
}

.sameDeny:hover{
    color:var(--special-color);
}
.showBtn{
    padding:0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 1rem;
    font-size:1rem;
    background-color:black;
    color: var(--white-color);
}

