@import url(/styless/main.css);

:root{
    --special-color:black;
    --border: 1px solid black;
    --special-padding:1rem;
    --special-margin-top:1rem;
    --font-size:1.5rem;
}
.checked{
    color:red;

}
.uniq-rating{
    font-size:var(--font-size);
    margin-top: 2rem;
    padding:1rem;
    border: var(--border);
}
