@import url(/styless/main.css);



.grid-componant{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 2rem;

}

.Three-grid{
    border: 1px solid blue;
    padding: var(--special-padding);
    background-color:rgb(59, 170, 184);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 1rem;   

}
.grid-component2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}
.two-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    border: 1px solid blue;
    padding:0.3rem ;
    background-color:rgb(24, 207, 198);
    margin: 1rem;   

}

.hero-img{
    border-radius:0.5rem;
}
