@import url(/styless/main.css);


.responsive{
    width: 100%;
    height: auto;
    margin: 1rem;
}
.rounded{
    width: 20rem;
    height: 20rem;
    border-radius:50%;
    margin: 1rem;

}

@media only screen and (max-width:690px){
    .header{
        width:690px;
    }
}