@import url(/styless/main.css);



.model-component{
    width:25rem;
    height:11rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border:2px solid #cec9c9;
    padding-left: 1rem;
    background-color:var(--model-color);
    margin: 1rem;   

}
.dialog{
    justify-content:flex-end;
}
.btn{
    position: absolute;
    bottom: 1rem;
    left: 11rem;
}
.deny{
    background-color:var(--white-color);
    border:0px;
    color:grey;
    font-weight:bold;
    position: absolute;
     left:23.3rem; 
    bottom:9rem;
    cursor:pointer;
    border-radius: 50%;
    font-size:var(--font-size);
}
.deny:hover{
    color:var(--special-color);
}
.active-btn{
    border:var(--border);
    font-size: 1rem;
    padding:0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius:0.3rem;
    margin:0.2rem;
    cursor: pointer;
}
.cancle:hover{
    background-color:var(--cancle-color);
}
.delete:hover{
    background-color:var(--special-color);
    color:var(--white-color);
    font-weight: bold;
}