.amitabh-badge{
    width: 6rem;
    height: 6rem;
    border-radius:50%;
}
.colorW{
    color: white;
}
.radius{
    border-radius:50%;
}
button{
    cursor: pointer;
}
.code{
    padding: 3rem 0rem;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:rgb(139, 185, 179);
    color:black;
    font-weight: bold;
    font-size:19px;
    padding:1rem;
    border-radius: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.home{
    display: flex;
    gap:0.5rem;
}
.home-link{
    margin-top:1rem;
    text-decoration: none;
    color:black;
}
.container{
    width:100%;
    display: flex;
    gap: 7rem;
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 12rem;
    height:190vh;
    margin-top: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color:rgb(236, 189, 189);
}
.side-heading{
    font-size:1.8rem;
    font-weight: bold;
    margin-bottom:-0.5rem;
}
#special-btn{
    color: black;
    text-decoration: underline;
}
.componant{
    text-decoration: none;
    color:grey;
    font-weight: bold;
    font-size: 1.5rem;
}
.componant:hover{
    text-decoration: underline;
    color: black;
}
.avtar-badge{
    position: relative;
}
.badge1{
    text-align: center;
    width: 1.4rem;
    height: 1.4rem;
    background-color:rgb(160, 14, 14);
    position:absolute;
    right:33rem;
    bottom:5rem;
}
.badge2{
    text-align: center;
    width: 1.4rem;
    height:1.4rem;
    background-color:rgb(8, 88, 8);
    position:absolute;
    right:27rem;
    bottom:5rem;
}
.icon-badge{
    background-color: rgb(16, 27, 190);
    padding:0.1rem 0.2rem 0.1rem 0.2rem;
    position:relative;
    top: -0.7rem;
    right:5px;
}

.hideBtn{
    border-radius: 0.3rem;
    border-color: white;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color:white;
    color: rgb(8, 8, 8);
    margin-left:-1rem;
}
.hide-badge{
    background-color:rgb(55, 9, 182);
    padding:0.1rem 0.4rem 0.1rem 0.4rem;
    font-size:19px;
    position:relative;
    top: -0.7rem;
    left:3.5rem;
}
.actBtn{
    border-radius: 0.3rem;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color: rgb(16, 27, 190);
    margin-left: -1rem;
}
.act-badge{
    background-color:rgb(233, 86, 110);
    padding:0.1rem 0.4rem 0.1rem 0.4rem;
    font-size:15px;
    position:relative;
    top: -0.9rem;
    left: 0rem;   
}
@media only screen and (max-width:690px){
    .header{
        width:690px;
    }
}
