@import url(/styless/main.css);

.amitabh-badge{
    width: 6rem;
    height: 6rem;
    border-radius:50%;
}
.colorW{
    color: white;
}
.radius{
    border-radius:50%;
}
button{
    cursor: pointer;
}

.avtar-badge{
    position: relative;
    margin:1rem;
}
.badge1{
    text-align: center;
    width: 1.4rem;
    height: 1.4rem;
    background-color:rgb(160, 14, 14);
    position:absolute;
    right:31rem;
    bottom:5rem;

}
.badge2{
    text-align: center;
    width: 1.4rem;
    height:1.4rem;
    background-color:rgb(8, 88, 8);
    position:absolute;
    right:25rem;
    bottom:5rem;

}
.icon-badge{
    background-color: rgb(16, 27, 190);
    padding:0.1rem 0.2rem 0.1rem 0.2rem;
    position:relative;
    top: -0.7rem;
    right:1.4rem;
    margin:1rem;
}

.hideBtn{
    border-radius: 0.3rem;
    border-color: white;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color:white;
    color: rgb(8, 8, 8);
    margin-left:-1rem;
}
.hide-badge{
    background-color:rgb(55, 9, 182);
    padding:0.1rem 0.4rem 0.1rem 0.4rem;
    font-size:19px;
    position:relative;
    top: -0.7rem;
    left:3.5rem;
}
.actBtn{
    border-radius: 0.3rem;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color: rgb(16, 27, 190);
    margin-left: -1rem;
}
.act-badge{
    background-color:rgb(233, 86, 110);
    padding:0.1rem 0.4rem 0.1rem 0.4rem;
    font-size:15px;
    position:relative;
    top: -0.9rem;
    left: 0rem;   
}
@media only screen and (max-width:690px){
    .header{
        width:690px;
    }
}
