@import url(/styless/main.css);


.headings{
    border: var(--border);
    padding-left: 2rem;
    margin: 1rem;   

}
.small-text{
    border: var(--border);
    padding:var(--special-padding);
    margin-top:var(--special-margin-top);
}
.Grey-text{
    border: var(--border);
    padding:var(--special-padding);
    margin-top:var(--special-margin-top);
}
.grey{
    color:grey;
}
.text{
    text-align: center;
    border: var(--border);
    padding:var(--special-padding);
    margin-top:var(--special-margin-top);
}
