@import url(/styless/main.css);



.alert-color{
    color: var(--white-color);
}

.alert{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}
.alertBtn{
    padding:0.8rem 9rem 0.8rem 1rem;
    border-radius:0.5rem;
    font-size:1.2rem;
    cursor: pointer;
    font-weight:var(--btn-weight);
}
.simple-alert{
    background-color:var(--white-color); 
}
.succes-alert{
    background-color:rgb(5, 129, 47);
}
.failure-alert {
    background-color: rgb(158, 26, 26);
}
.light-alert{
    background-color:rgb(187, 144, 144);
}
.dark-alert{
    background-color:rgb(71, 67, 67);
}
@media only screen and (max-width:690px){
    .header{
        width:690px;
    }
}